.login-container{
    z-index: 3;
    position: absolute;
    top: 55px;
    left: 118px;
    display: none;
    padding: 10px;
    background-color: rgba(15, 155, 155, 0.842);
}

.login-container-show{
    display: block;
}
.login-form form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 10px; */
}

.login-form form input{
   margin: 5px;
   box-sizing: border-box;
   padding: 10px;
   border-style: none;
   border-radius: 5px;
}
.login-form form input:focus{
    border-style: none;
}
.login-extra{
    margin-top: 20px;
}
.login-extra *{
    text-align:center;
}