.nav-top{
    box-sizing: border-box !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#425874;
    color: #f2f2f2;
    font-size: 22px;
}

.nav-top-icon{
    font-size: 30px !important;
}
.nav-top-icon:hover{
    cursor: pointer;
    opacity: .7;
}
.nav-icon{
    display: none;
}

.nav-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-item{
    text-align: center;
    padding: 15px 20px;
}
 .nav-left .nav-item:not(:nth-child(1),:nth-child(2)):hover{
    background-color: #ddd;
    color: black;
}
.active{
    background-color: #F96246;
}
.nav-left .nav-item{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-right{
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-right .cart-list-count{
    z-index: 2;
    position: absolute;
    right: 70px;
    top: 0px;
    background-color: red;
    color: white;
    /* padding: 15px; */
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.nav-right .cart-list-count *{
   font-weight: small;
}

@media screen and (max-width: 600px){
    .nav-top{
        align-items: flex-start;
    }
    .nav-icon{
        display: flex !important;
    }
    .nav-left{
        flex-direction: column;
        width: 100%;
    }
    .nav-left .nav-item:not(:first-child) {display: none;}

    .nav-item-show .nav-item{
        display: flex !important;
    }


}