.card{
    max-width: 250px;
    background-color: white;
    cursor: pointer;
}

.card-image{
    height: 200px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr{
    width: 100% !important;
}

.card-body{
    padding-left:0 !important;
    padding-right: 0 !important;
}
.card-lower{
    display: flex;
    justify-content: space-between;
}

.card-lower .not-added-cart{
    color: black ;
}
.card-lower .added-cart{
    color: tomato;
}