.container-xxl{
    width: 100% !important;
    padding: 0px !important;
    /* box-sizing: border-box !important;
    margin: 0px !important; */
}
 .carousel-item .carousel-image{
   object-fit: cover !important;
    height: 500px;
}