/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cart-container{
    z-index: 3;
    /* overflow: auto; */
    position: fixed;
    left: 5%;
    top: 70px;
    min-height: 400px;
    width: 80vw;
    min-width: 280px;
    background-color: #2b86925d;
    transform: translateX(-180vw);
    transition: transform 0.5s ease-in-out;
}

.cart-container-show{
    transform: translateX(0px);
}

.cart-header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

.cart-header-icon{
    cursor: pointer;
}

.cart-header h4{
    margin-right: 40%;
}

.cart-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 560px;
    border-bottom: 1px solid rgb(38, 49, 100);

}

.cart-product img{
    height: 120px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

.cart-product-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    text-align: left;
}
.cart-product-info .pdt-qnty{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.cart-product-info .pdt-qnty button{
    background-color: #F96246;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 30px;
    font-size: 20px;
}
.cart-product-info p{
    max-width: 250px;
}

.cart-product-info input{
    max-width: 100px;
    background-color: white;
    border-style: none;
    text-align: center;
}


.pdt-remove{
    margin: auto 10px;
    padding-bottom: 10px;
    /* border: 1px solid black; */
}